* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: black;
  min-height: 100vh;
}


#name {
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: name;
  animation: animate 20s linear infinite;
  background-size: 1000%;
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.Navbar {
  background-color: transparent;
  position: sticky;
  font-family: sans-serif;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  top: 0;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  background: blue;
  color: #ffffff;
  font-size: 20px;
}

.main {
  padding: 80px 0;
}

/* ABOUT */

.about {
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  color: white;
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.red {
  height: 2px;
  width: 200px;
  background: red;
  margin: auto;
}

.green {
  height: 2px;
  width: 150px;
  background: green;
  margin: 15px auto;
}

/* CONTENT */
.content {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  margin-top: 160px;
}

@media only screen and (min-width: 480px) {
  .content {
    width: 60%;
  }
}

@media only screen and (min-width: 3700) {
  .content {
    width: 3;
  }
}

.picture {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  float: left;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .picture {
    margin-bottom: 15px;
  }
}

.content {
  width: 100%;
  float: left;

  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 767px) {
  .buttons .bttn .btn {
    padding: 15px 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .buttons .btn.btn-primary {
    border-color: red;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.tab-pane h4 {
  font-weight: 600;
  color: blue;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.1;
  padding-left: 40px;
}

span {
  color: green;
}

p {
  letter-spacing: 0;
  line-height: 1.8;
  margin: 0 0 10px;
  padding-left: 40px;
  color: #ffffff;
}

.my-content img {
  margin-top: 20px;
  margin-top: 10px;
  padding-left: 30px;
}

.socials {
  display: flex;
  letter-spacing: 20px;
  padding-left: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.fa-whatsapp {
  color: limegreen;
}

.fa-whatsapp:hover {
  background-color: limegreen;
  border-radius: 100px;
  color: #ffffff;
  font-size: 30px;
  transition: 1s;
}

.fa-facebook-f {
  color: rgb(0, 110, 225);
}

.fa-facebook-f:hover {
  background-color: rgb(0, 110, 255);
  border-radius: 100px;
  color: #ffffff;
  font-size: 30px;
  transition: 1s;
}

.fa-twitter {
  color: rgb(0, 174, 255);
}

.fa-twitter:hover {
  background-color: rgb(0, 174, 255);
  color: #ffffff;
  border-radius: 100px;
  font-size: 30px;
  transition: 1s;
}

.footer-area {
  background: black;
  color: #ffffff;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .my-content > .tab-pane {
    padding: 30px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    padding: 30px 0;
  }
}

.signature {
  background-color: lightslategrey;
}

.intro {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 80px;
}

.my-skills {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 700px;
}

.skills {
  padding-top: 50px;
}

.fa-html5 {
  color: orange;
}

.html .fa-html5:hover {
  font-size: 60px;
}

.fa-css3-alt {
  color: rgb(4, 115, 219);
  padding-top: 50px;
}

.fa-css3-alt:hover {
  font-size: 60px;
}

.fa-js {
  color: yellow;
  padding-top: 50px;
}

.fa-js:hover {
  font-size: 60px;
}

.fa-python {
  padding-top: 50px;
}

.fa-python:hover {
  font-size: 60px;
}

.education {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-top: 300px;
}


