* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  background-image: url(../images/pexels-pixabay-459301.jpg);
}

#name {
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: name;
  animation: animate 20s linear infinite;
  background-size: 1000%;
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.Navbar {
  background-color: transparent;
  font-family: sans-serif;
  position: sticky;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  top: 0;
  padding: 16px;
  font-family: sans-serif;
  color: black;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  background: blue;
  color: #ffffff;
  font-size: 20px;
}

.landing {
  min-height: 70vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 100px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/images.jpeg);

  font-size: 20px;
  color: rgb(216, 9, 9);
  text-align: center;
}

span {
  color: green;
}

body {
  background-image: url(../images/pexels-luck-galindo-544268.jpg);
  font-family: sans-serif;
}

.timeline {
  background-position: cover;
  background-size: cover;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../images/pexels-pixabay-459301.jpg);
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgba(255, 0, 0, 0.603);
  border: 4px solid red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
  background-image: url(../images/rm218batch4-katie-17.jpg);
}

.right {
  left: 50%;
  background-image: url(../images/pexels-pixabay-459203.jpg);
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.duty {
  font-weight: bold;
  font-style: italic;
}

.footer-area {
  background-color: lightgray;
  color: black;
  height: 10vh;
  padding-left: 40px;
  padding-top: 40px;
}

.fa-heart {
  color: red;
}

.footer-area {
  background-color: lightgray;
  color: black;
  height: 10vh;
  padding-left: 40px;
  padding-top: 40px;
}
