* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(../images/testimonial.jpg);
  background-size: cover;
  background-position: center;
}

#name {
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: name;
  animation: animate 20s linear infinite;
  background-size: 1000%;
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.Navbar {
  background-color: transparent;
  font-family: sans-serif;
  background-color: lightgray;
  position: sticky;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: black;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar {
    background-color: transparent;
  }

  .fa-bars {
    color: rgb(255, 238, 0);
    text-align: right;
    font-size: 30px;
  }

  .Navbar__Link a {
    font-size: 22px;
    background-color: lightgray;
  }

  #name {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
    justify-content: space-between;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  background: blue;
  color: #ffffff;
  font-size: 20px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.owl-carousel {
  height: 50vh;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin-right: 20%;
  margin-left: 20%;
}

.container {
  background: blue;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-radius: 9%;
}

img {
  border-radius: 50%;
}

.image {
  margin-bottom: 5%;
}

.heading2 {
  margin-bottom: 2%;
  font-size: 30px;
  color: lime;
  text-align: center;
}

.heading3 {
  margin-bottom: 3%;
  color: red;
}

.qoute {
  padding-left: 7%;
  padding-right: 7%;
  font-weight: 600;
  font-style: italic;
}

.header {
  font-size: 200%;
  color: rgb(49, 18, 224);
  text-align: center;
}

.rate {
  padding-top: 20px;
  color: gold;
}

.footer-area {
  background-color: lightgray;
  color: black;
  height: 10vh;
  padding-left: 40px;
  padding-top: 40px;
}

.fa-heart {
  color: red;
}
